<footer>
  <a href="mailto:mittens28.req3f@aleeas.com"><img src="/assets/img/webring/email.gif" alt="Webbutton to email" style="height:31px;width:88px;" ></a>
  <a href="https://www.vim.org" target="_blank" alt="vim.org"><img src="/assets/img/webring/vim.gif"></a>
  <a href="https://letsdecentralize.org" target="_blank" alt="letsdecentralize.org"><img src="/assets/img/webring/lets-decentralize.gif"></a>
  <a href="https://getmonero.org" target="_blank" alt="getmonero.org"><img src="/assets/img/webring/monero-now.gif"></a>
  <a href="/atom.xml"><img src="/assets/img/webring/rss.gif" alt="Webbutton to rss feed" style="height:31px;width:88px;"></a>
     
    </a>
  </footer>