<a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">posts</h2></a>
<a href="{{ "/utils" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">utils</h2></a>
<a href="{{ "/me" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">me</h2></a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">contact</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">rss</h2></a>
